<div *ngIf="!creating" class="container">
    <h2>List of Reviews for Movie name </h2>
    <button class="btn btn-primary" (click)="createReview()">Create New</button>
    <div class="col-md-8">
        <table class="table">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of fetchedData"> 
        <td> {{review.review}}</td>
        <td> {{review.rating}}</td>
        <td> <button (click)="editReview(review._id)" class="btn btn-warning">Edit</button></td>
        <td> <button (click)="deleteReview(review._id)" class="btn btn-danger">Delete</button></td>
       <tr>
    </tbody>
  </table>
    </div>
</div>

<div *ngIf="creating" class="container">
    <div class="col-md-6">
      <h1>Create Movie Review</h1>
    </div>
    <br>
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <label for="firstName">Review</label>
              <textarea type="text" class="form-control" placeholder="Enter review detail"></textarea>
            </div>
            <div class="form-group">
              <label for="lastName">Rating (/5)</label>
              <input type="number" class="form-control"  placeholder="Enter your rating out of five ">
            </div>
  <br>
            <button (click)="createReview()" class="btn btn-primary">Create Review</button> &nbsp; &nbsp;&nbsp;
            <button (click)="backToList()" class="btn btn-danger">Back to List</button>
          </form>
        </div>
      </div>
    </div>
<!--     
<h1> {{name}}</h1> -->
   

  
